<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AutomationTest">

	<listeners>
		<listener class-name="com.crm.listeners.TestListeners" />
	</listeners>
 
  <!-- Add Test to run -->
  
  <test name="Test To Verify CRM Login">
    <classes>
      <class name="com.crm.testCases.TC01VerifyCRMLogin"/> 
   <!--  <class name="com.crm.testCases.TC03Knowledgebasetest" /> -->
    </classes>
  </test> 
  
  <!-- Test -->
  
  
</suite> <!-- Suite -->
